.navbar-light .navbar-brand, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link,.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

#navbarDropdown {
  z-index: 999;
}

.bg-light {
  background-image: linear-gradient(to right, #004987, #00a0df ); 
  background-size: cover;
}

.btn-info, .btn-info:active {
    background-color: #004987;
    border-color: #004987;
}

.btn-info:hover {
    background-color: #005cb9;
    border-color: #005cb9;
}

.logo_header {
    margin-top: -16;
    margin-left: -15px;
    width: 150;
    height: 50;
}

#imagenfooter{
 width: 8rem;
 height: 1,9785rem;
 max-width: 100%; 
}

.imgfooter {
  margin-left: 0px !important;
}
.imgfooter2 {
  margin-right: 0px !important;
}


#imagensantander {
  width:10rem;
  height: 1,9875rem;
  max-width: 100%;
}

.masinfo{
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.masinfo span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.masinfo span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.masinfo:hover span {
  padding-right: 25px;
}

.masinfo:hover span:after {
  opacity: 1;
  right: 0;
}


#copyimagen {
  text-align: center;
}

.list-inline-item {
  margin-right: 0px !important;
  margin-left: 5px;
}

.faq-header{
  font-size: 42px;
  border-bottom: 1px dotted #ccc;
  padding: 24px;
}

.faq-content {
  margin: 0 auto;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
}

.panel-title {
  font-size: 24px;
  width: 100%;
  position: relative;
  margin-left: -20px;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.panel-content {
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
 display: none;
}
.formFooter {
  display: none !important;
}

footer {
  background-color: #007eff;
  color: white;
  position: relative;
  margin-bottom: 0;
  bottom: -40;
  width: 100%;
  padding-bottom: 0;
}

.text-muted .footertext {
  color: white !important;
}

.bg-footer {
  padding: 50px 0 30px;
  background-image: linear-gradient(#004987, #00a0df ); 
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-heading {
  letter-spacing: 2px;
}

.footer-link a {
  text-decoration: none;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.5s;
}

.footer-link a:hover {
  font-size: 17px;
}

.contact-info {
  font-size: 14px;
}

.footer-social-icon {
  font-size: 15px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  transition: all 0.5s;
}

.footer-social-icon:hover {
  font-size: 25px;
}

.facebook, .linkedin, .mail, .place {
  background-color: #fff;
  color: #007eff;
}

.footer-heading {
  position: relative;
  padding-bottom: 12px;
}

.footer-heading:after {
  content: '';
  width: 25px;
  border-bottom: 1px solid #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #fff
}
#tarjeta:nth-child(n+1){
    margin-left: 2em;
  }

.bordeservicio {
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25rem;
  margin-left: 45px;
  margin-top: 10px;
}

.bordeservicio2 {
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25rem;
  margin-left: 100px;
  margin-top: 10px;
}

.botoneshome {
  margin-top: -4px;
}

.unotres {
  margin-right: -15px;
}

.alineadomenu {
  margin-left: 360px;
}

.prueba {
  font-size: 15px;
}

.alineadobotonmenu {
  margin-right: -15px !important;
}

.alineadofooter {
  margin-left: 64px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.footer-heading::after {
  border-bottom: 0px !important;
}

footer {
  clear: both;
  position: relative;
}

.topmg {
  margin-top:10px;
}
.imagenoticia {
  margin-bottom: 30px;
  height: 300px;
}
.servs:hover {
  text-decoration: none;
}
.tercerbloque {
  float: left;
  width: 100%;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url('http://localhost/logopedas/assets/images/png/Inicio/Recurso 5.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.cuartobloque {
  float: left;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 21px;
  background-color: white;
}
.quintobloque {
float: left;
padding-top: 25px;
background-image: url('http://localhost/logopedas/assets/images/png/Inicio/Recurso 51.png');
background-size: cover;
background-repeat: no-repeat;
padding-bottom: 25px;
}
.sextobloque {
  float: left;
  width: 100%;
  background-color: #fff;
  padding-bottom: 25px;
}
.octavobloque {
  float:left;
  width: 100%;
  background-color: #00a0df;
  padding-bottom: 50px;
}
.titulo6 {
  width: 100%;
  padding-left: 25%;
  margin-right: 25%;
  margin-top: 0px;
  padding-top: 35px;
  padding-bottom: 60px;
  background-image: url('http://localhost/logopedas/assets/images/png/Inicio/Recurso 9.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.notinicio {
  margin-top:40px;
}
.saludo {
  width: 458px;
  height: 370px;
}

.decana {
  margin-top: 35px;
  width: 350px;
  height: 450px;
}
.secretaria {
  width: 465px;
  height: 450px;
}

.cromo {
  float:left;
  margin-right: 40px;
  margin-left: 50px;
}

.cromob {
  float: right;
  margin-left: 50px;
}

.cromoc {
  float:left;
  margin-right: 40px;
  margin-left: 50px;
}

.blue {
 width: 100%;
 background-image: linear-gradient(to bottom, #004987, #00a0df );
 padding-bottom: 50px;
 padding-top: 35px;
 margin-bottom: 30px;
}
.white {
  width: 100%;
  background-image: linear-gradient(to bottom, #B9BCBD, #8E9191 );
  padding-bottom: 50px;
  padding-top: 35px;
  margin-bottom: 35px;
}

body {
  background-image: url('http://localhost/logopedas/assets/images/png/fondo.jpg')
}

.txt {
  margin-right: 100px;
}
.titulocromo {
  margin-left: 65px;
  color: #fff;
}
.titulocromob {
  margin-left: 65px;
  color: #000;
}

.mt {
  margin-top: 35px;
}
.minusmargin {
  margin-left: -30px;
}

.preliminar, .Artículo2, .Artículo4, .Artículo6, .Artículo8, .Artículo10, .Artículo12 {
  background-color: #00a0df;
  padding: 30px 50px;
  color: #fff;
  margin-bottom: 40px;
}

.Artículo1, .Artículo3, .Artículo5, .Artículo7, .Artículo9, .Artículo11{
  background-color: #fff;
  padding: 30px 50px;
  margin-bottom: 40px;
}

.preambulo {
  padding: 20px 30px;
  margin-bottom: 0px !important;
}

#myBtn {
  display: none;
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 1.875rem;
  left: 1.875rem;
  z-index: 9999;
}

.compresion {
  margin-right: 1px;
}

.ajuste {
  margin-right: 55px;
}
.menucod {
  background-color: #fff;
  padding: 20px 30px;
}

.menucod-lista {
  list-style: none;
}

.menucod-lista li {
  margin: 0 0 5px 0;
}

.menucod-lista a {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

a.juntagoblink {
  color: #00a0df !important;
}
.col-md-10 {
  padding: 0 0;
}

p, body, h1, h2, h3, h4, a, .panel-title, .card-title, .card-text {
  font-family: 'Roboto', sans-serif;
}
.minusmargin2 {
  margin-left: -15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.table-striped>tbody>tr:nth-child(2n)>td, .table-striped>tbody>tr:nth-child(2n)>th {
 background-color: #fff;
 color: black;
}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #fff;
  color: black;
}

a.test:nth-child(odd) {
  color: #00a0df;
}
.presentacion {
  width: 100%;
  background-image: url('http://localhost/logopedas/assets/images/png/Inicio/Recurso 6.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
}

.bloque5btn1 {
  margin-right: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
.bloque5btn2 {
  margin-left: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
.margenes {
  margin-left: 30%;
  margin-right: 30%;
}
h1.bloque1txt {
  margin-top: 30px;
  margin-bottom: 0px;
}

h1.bloque1img {
  margin-top: 30px;
  margin-bottom: 0px;
}
h1.bloque1title {
  margin-top: 30px;
  margin-bottom: 0px;
}
.bloque1btn {
  width: 55%;
}

.titulo-presentacion {
  padding-top: 8rem;
  font-weight: bold ;
  font-size: 70px;
}
.navbar {
  margin-bottom: 0;
}

.alineate {
  margin-left: 375px;
}

.Primer-Bloque {
  background-image: url('http://localhost/logopedas/assets/images/png/Inicio/Recurso 4.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top:100px;
  padding-bottom: 100px;
  margin-top: 0px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden
}
.separadorb1 {
  padding-bottom: 100px;
}
.btn-chiki {
  width: 55%;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
.btn-chikider {
  width:55%;
  float: right;
  margin-top: 30px;
  margin-bottom: 30px;
}
.bloque1txt{
  width:55%;
  float: right;
  margin-top: 30px;
  margin-bottom: 30px;
}
.bloque2txt{
  width:55%;
  float: right;
  margin-top: 30px;
  margin-bottom: 30px;
}
a.col-md-1 {
  padding:0px;
}
.fa-globe {
  vertical-align: middle;
  margin-top: 7px;
}
.bloque8img {
  width: 55%;
  height: 381px;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
.height8{
  height: 451px;
}
.bloque1title {
  width: 65%;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
.bloque1img {
  width: 55%;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
img.bloque1img {
  height: 30%;
}
img.bloque1txt {
  height: 30%;
}
.segundobloque {
  background-image: url('http://localhost/logopedas/assets/images/png/Inicio/Recurso 7.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  float:left;
  width: 100%;
}
.cuartobloque {
  background-image: url('http://localhost/logopedas/assets/images/png/Inicio/Recurso 8.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  float:left;
  width: 100%;
}

.acuerdoempresa {
  height: 167px; 
  width: 167px; 
  margin-top: 22; 
  padding-right:11; 
  padding-left:11;
}
.acuerdoempresainicio {
  height: 167px; 
  width: 167px; 
  margin: 30px;
}
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

 /* Popup en los acuerdos de empresa */

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */

/* The Modal (background) */
.modal, .modal1, .modal2, .modal3, .modal4, .modal5, .modal6, .modal7, .modal8, .modal9, .modal0, .modal11 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content, .modal-content1, .modal-content2, .modal-content3, .modal-content4, .modal-content5, .modal-content6, .modal-content7, .modal-content8, .modal-content9, .modal-content0, .modal-content11 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  display: none !important;
}

 /* Fin de popup en los acuerdos de empresa */

.navbar-nav {
  margin-left: 80px;
}
.text-dkblue {
  color: #004987;
  font-size: 17px;
}
.title-dkblue{
  color: #004987;
  font-weight: 900;
  font-size: 45px;
}
.title-main {
  color: #fff;
  font-size: 70px;
}
.title-white {
  color: #fff;
  font-size: 45px;
  font-weight: 900;
}
.text-fff{
  color: #fff;
  font-size: 17px;
}
.text-lgtblue {
  color:#00a0df;
  font-weight: bold;
}
i {
  color: #004987;
}
a.contactext {
  width: 90%;
  padding-top: 5px;
  margin-bottom: 0px;
  font-size: 1.17em;
  color: rgb(255, 255, 255);
}

.contactalign, .fa-globe, .fa-phone-square, .fa-envelope-square {
  width: 10%;
  text-align: center;
}

.contactosinfo {
  padding-top: 30px;
  padding-bottom: 30px;
}
.ajusteimginicio {
  margin-top: 6%;
  margin-bottom: 6%;
  margin-right: 10%;
  width: 45%;
  height: 30% !important;
}
.ajusteimginicio2 {
  margin-top: 6%;
  margin-bottom: 6%;
  margin-left: 10%;
  width: 45%;
  height: 30% !important;
}
.btn-white {
  background-color: #fff !important;
  border-color: #004987 !important;
  background-image:none !important;
  color: #004987;
}
.btn-white:hover {
  color: #004987;
}
.horario {
  width: 26%;
  line-height: 320%;
  font-size: 1.17em;
}
.subtitulo-presentacion {
  margin-top: 20px;
  margin-bottom: 20px !important;
  font-size: 36px;
  line-height: 95%;
}
.contactinicio {
  margin-left: 5px;
}
.horario2 {
  width: 27%;
  line-height: 320%;
  font-size: 1.17em;
}

.table>thead {
  background-color: #fefefe;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  background-color: #fefefe;
}

label {
  margin-bottom: 0px;
}
.fondocurso {
  background-color: #ccc;
  margin-top: 30px;
  border-radius: 5px;
  padding-bottom: 30px;
}
.titunoticia {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: linear-gradient(to bottom, #004987, #00a0df );
  color: white;
  width: 100%;
  float: left;
}
.btn-primary {
  background-image: linear-gradient(to right, #004987, #00a0df );
  border-color: #004987 !important
}

.btn-primary:focus {
  background-color: #004987 !important;
  border-color: #004987 !important
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}
.cards {
  display: grid;
  width: 66%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: -50;
  margin-left: 330px;
  padding: 0;
  list-style-type: none;
}
.septimobloque {
  background-color: #fff;

}
.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #004987;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #00a0df;  
}
hr.rounded {
  float: left;
  border-top: 2.5px solid #004987 !important;
  border-radius: 5px;
  margin-right:12.5%;
  margin-left:12.5%;
  width: 75%;
}

.card__status {
  font-size: .8em;
  color: #00a0df;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #00a0df;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}